main{
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  margin-top: 15pt;
}
.headeritem {
    align-items: center;
    text-align: center;
}
.headeritem img{
  align-items: left;
}
.h1{
  font-size: 30pt;
  margin-left: 3em;
}
p{
  font-size: 12pt;
}
.headerp{
  font-size: 14pt;
}
/* datetime */
body {
	display: block;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	font-family: hebrew;
	color: #4b2c20;
}

.date{
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #a98274;
}
/* topnav */
.topnav {
    overflow: hidden;
    background-color: #a98274;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #795548;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #a98274;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #795548;
    color: white;
  }
main{
  display: block;
  width: 100%;
  margin-top: 15pt;
}
/* #content{
    font-family:'"Times New Roman", Times, serif';
}   */

.box{
  /* border: 5pt;
  border-color: black; */
  border-radius: 10pt;
  border: 2pt solid black;
  overflow: hidden;
  background-color: #bbb;
  width: 100%;
  height: 200pt;
  margin-top: 30pt;

 }
.box>div{
  display: block;
  height: 100%;
}
#join{
  visibility: hidden;
}
#spotlight{
  border-radius: 10pt;
  border: 2pt solid black;
  margin-top: 30pt;
  padding: 10pt;
}
#spotlight .s1{
  border: 2pt solid black;
}
#spotlight .s2{
  
  border: 2pt solid black;
  
}
#spotlight .s3{
  display: none;
}


footer{
    font-size: 12pt;
    text-align: center;
    background-color: #795548;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 30pt;
}