@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');

header h1{    
    text-align: center;    
}

header img{
    border: 2px black solid;
    width: 60pt;
}

header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 5pt;    
    align-items: center;
    background-color: #ef9a9a;
    font-family: 'Ubuntu', sans-serif;
}
#bookingBtn{
  display: none;
}
/* hamburger menu */
nav button{
    margin: .2rem 2vw;
    border: none;
    font-size: 20pt;
}
#hamburgerBtn{
    text-align: center;
    color: black;
    background-color: transparent;
}
nav ul{
    list-style-type: none;
    padding: 10pt;
    margin: 3pt;
}
nav ul li a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border-top: 1px solid white;
    text-align: center;
    font-size: 16pt;
    margin-top: 3pt;
    padding: 5pt;
  }
  
  nav ul li.active{
    background-color: #ebd4cc;
    color: white;
  }
  nav ul li a:hover{
    background-color: #ba6b6c;
    color:black;
  }
  nav ul{
    display: none;
  }
  nav ul.open{
    display: block;
    background-color:#ef9a9a;
    padding: 10pt;
  }  
  #hamburgerBtn span:nth-child(1){
    display: block;
  }
  #hamburgerBtn span:nth-child(2){
    display: none;
  }
  #hamburgerBtn.open span:nth-child(1){
    display: none;
  }
  #hamburgerBtn.open span:nth-child(2){
    display: block;
  } 
  img{
    width: 100%;
  }
  /* Home page */
  /* hero section */
  #hero{
    position: relative;
  }
  #hero img{
    width: 100%;
  }
  #herotext h2{
    font-size: 20pt;
  }
  #herotext p{
    font-size: 16pt;
  }
  #herotext{
    position: absolute;
    top: 5pt;
    left: 5pt;
    text-align: center;
    font-weight: bolder;
    margin-top: 10pt;
  }
  #heroBtn{
    display: inline;
    border-radius: 4px;
    background-color: #ba6b6c;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    
  }
  #herobtn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  #heroBtn:after {
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  #heroBtn:hover{
    padding-right: 24px;
    padding-left: 8px;
  }
  
  #heroBtn:hover:after {
    opacity: 1;
    right: 10px;
  }
  /* templeintro section */
  #templeintro{
    margin-top: 10pt;
  }
  #templeintroText{
    background-color: rgb(233, 231, 231);
    border-radius: 10pt;
    padding: 5pt;
  }
  #templeintro img{
    width: 100%;
  }
  /* hotel info */
  
  #hotelBtn{
    display: inline;
    border-radius: 4px;
    background-color: #ba6b6c;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    left: 50pt;
  }
  #hotelbtn{
    cursor: pointer;
    display: inline-block;
    position: relative;  
    transition: 0.5s;
  }
  #hotelBtn:after {
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  #hotelBtn:hover{
    padding-right: 24px;
    padding-left: 8px;
  }
  
  #hotelBtn:hover:after {
    opacity: 1;
    right: 10px;
  }
  /*Basic structure of slider*/
.container{
  width: 100%;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}

/*Area of images*/
.wrapper{
  width: 390pt;
  display: flex;
  animation: slide 15s infinite;
}

/*Animation activated by keyframes*/
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  /* 30%{
      transform: translateX(-100%);
  } */
  50%{
      transform: translateX(-100%);
  }
  /* 55%{
      transform: translateX(-200%);
  } */
  75%{
      transform: translateX(-200%);
  }
  /* 80%{
      transform: translateX(-300%);
  } */
  100%{
      transform: translateX(-300%);
  }
}
#review{
  position: relative;
}
#review div{
  width: 50%;
  height: 70%;
  background-color:  rgb(233, 231, 231);
  border-radius: 8pt;
  padding: 10pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10pt;
}
#weather img{
  width: 50pt;
  justify-items: center;
}

#moretemples #templeBtn{
  position: absolute;
  bottom: 20pt;
  left: 140pt;
}
#templeBtn{
  border-radius: 4px;
    background-color: #ba6b6c;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 8px;
}


/* Temple page */
#templepage section{
  margin: 10pt;
  background-color: #f0d2d2;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 5px;
  padding: 10pt;
}
#templepage {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

/* reservation page */
/* room div */
#roomtype{
  padding: 10pt;
  display: block;
  font-size: 16pt;
}
#roomtype{
  text-align: center;
}
/* form style */
label.myinput input:required{
  border-left: red solid 5pt;
}
label.myinput input:required:valid{
  border-left: green solid 5pt;

}
label.myinput{
  display: block;
  padding: 10pt;
  font-size: 16pt;
}
input.mysubmit {
  width: 10rem;
  max-width: 30rem;
  display: flow-root;
  height: 28pt;
  margin-left: 10pt;
  border: #333;
  border-radius: 5pt;
  background-color: #ba6b6c;
}
label.myinput input, label.myinput textarea{
  display: block;
  font-size: 1.2rem;
  padding: .5rem;
  width: 20rem;
  max-width: 40rem;
  border-radius: 5pt;
}
label.radio{
  display: block;
  margin-left: 10pt;
  padding: 8pt;
  font-size: 16pt;

}
label.radio input{
  margin-right: 10pt;

}
#roomnum select{
  width: 16pt;
  top: 14px;
  right: 10px;
  height: 0;
}
.mysubmit{
  align-items: center;
}
/* thank you page */
#thankyou{
  text-align: center;
}
.homeBut{
  border-radius: 4px;
  background-color: #ba6b6c;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 8px;

}
/* all page */
#content{
    font-family: 'Ubuntu', sans-serif;
}

main img{
    max-width: 100%;
}
main h2{
    text-align: center;
}
footer{
  margin-top: 10pt;
    background-color:  #ef9a9a;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: .5rem;    
    border: 5px #ef9a9a;
}
footer img{
    width: 80pt;
    margin-top: 10pt;
}
.social img{
    width: 30pt;
    margin-left: 10pt;
}

@media screen and (min-width: 530px){
  header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 80% 20%;
  }
  #hamburgerBtn{
    display: none;
}
  header nav{
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
    font-size: 24px;
  }  
  #bookingBtn{
    display: inline;
    grid-column: 3/4;
    border-radius: 4px;
    background-color: #ba6b6c;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    
  }
  #bookingbBtn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  #bookingBtn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  #bookingBtn:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  #bookingBtn:hover:after {
    opacity: 1;
    right: 10px;
  }
  

    #primaryNav{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-decoration: none;
        color: white;
        padding: 5pt;
    }
    
    #gallerywrapper #gallery img{      
      width: 750px;
  }

    footer{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 2fr 1fr;
    }
    #footer1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #footer2{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: left;
        margin-top: 30pt;
    }
    #footer3{
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: 10pt;
        text-align: center;
    }
    .social img{
        width: 40pt;
        margin-left: 10pt;
    }
    /* temple page */
    .cards{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0;
      align-items: center;
      width: 40%;
    }
    /* reservation page */
    label.myinput input, label.myinput textarea{
      display: block;
      font-size: 20pt;
      padding: .5rem;
      width: 30rem;
      max-width: 50rem;
    
    }
    input.mysubmit {
      width: 30rem;
      max-width: 50rem;
      display: flow-root;
      font-size: 24pt;
      height: 28pt;
      margin-left: 10pt;
    }
    
}

@media screen and (min-width: 900px){
    
  #gallerywrapper #gallery div img{      
    width: 950px;
}
/* temple page */
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  align-items: center;
  width: 40%;
}
}