#content{
    margin: 0 auto;
    width: 100%;
    font-family: 'Noto Serif', serif; 
}
header{
    display: grid;
    background-color: rgb(3,3,80);
    color:white;
    font-size:24pt;
    text-align: center;
    align-items: center;
    letter-spacing: 5px;
}

main{
    display:grid;
    grid-template-columns: 100%;
    width: 100%;
    margin-top: 15pt;
}
h2{
    background-color: rgb(109, 109, 145);
    margin: 0%;
}
h3{
    font-size: 12pt;
}
p{
    text-align: left;
    margin-left: 10pt;
}
.box{
    /* border: 5pt;
    border-color: black; */
    border-radius: 10pt;
    border: 2pt solid black;
    overflow: hidden;

 }
 .box>div{
    display: flex;
    flex-direction: column;
    height: 100%;
 }
.pic{
   width:80%;
   height: 550px;
   margin: 5pt auto;
 }
 

footer{
    
    text-align: center;
    background-color: rgb(3,3,80);
    color: white;
    height: 50px;
    padding: 20px;
    text-align: center;
    letter-spacing: 5px;
}
#datediv{
    color: rgb(255,195,0);
}
 
@media screen and (min-width:600px){
    h1{
       font-size: 20pt;   
      }
      h2{
          font-size: 18pt;
      }
      p{
          font-size: 14pt;
      }
      main{
        display:grid;
        grid-template-columns: 45% 45%;
        column-gap: 10pt;
      }
      section div{
          background-color:rgb(135, 135, 176);
      }
  }
  @media screen and (min-width:900px){
      h1{
          font-size: 18pt;
          margin: 0%;   
         }
         h2{
             font-size: 16pt;
             line-height: 32pt;
         }
         h3{
            font-size: 10pt;
         }
         a{
            font-size: 10pt;
         }
         p{
             font-size: 14pt;
         }
         main{
            width: 100%;
            display:grid;
            justify-content: center;
            grid-template-columns: 32% 32% 32%;
            column-gap: 8pt;
         }
         section div{
             background-color: rgb(212, 212, 252);
             color: black;
            
         }
         section{
          margin: 5px;
          align-items: center;
         }
         
  
  }
  