#content{
    margin: 0 auto;
    width: 100%;
    font-family: 'Noto Serif', serif; 
}
header{
    display:block;
    background-color: rgb(3,3,80);
    color:white;
    font-size:24pt;
    text-align: center;
    align-items: center;
    letter-spacing: 5px;
}

main{
    display:grid;
    width: 100%;
    margin-top: 20pt;
}
nav div a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: aqua;
}
h2{
    background-color: rgb(109, 109, 145);
    margin: 0%;
}
h3{
    font-size: 12pt;
}
p{
    text-align: left;
    margin-left: 10pt;
}

 

footer{
    
    text-align: center;
    background-color: rgb(3,3,80);
    color: white;
    height: 50px;
    padding: 20px;
    text-align: center;
    letter-spacing: 5px;
}
#datediv{
    color: rgb(255,195,0);
}
 
@media screen and (min-width:700px){
    h1{
       font-size: 20pt;   
      }
      h2{
          font-size: 18pt;
      }
      p{
          font-size: 14pt;
      }
      #content{
        width:50%
      }
      main{
        
      }
      nav{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        
        font-size: 18px;
      }
      nav div a{
        border: solid 2pt;
      }
  }
  